/** @module GameLayout.module.scss
 *  @since 2023.02.15, 19:54
 *  @changed 2023.02.15, 19:54
 */

.container,
.box,
.partnersBox,
.gameBox,
.DEBUG {
  /*!KEEP*/
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media (min-width: $breakpointsMdPx) {
    flex-direction: row;
    .partnersBox {
      width: 30%;
    }
    .gameBox {
      flex: 1;
    }
  }
  @media (min-width: $breakpointsXlPx) {
    gap: 30px;
  }
}
