/** @module GamePlayingWrapper.module.scss
 *  @since 2023.02.14, 17:35
 *  @changed 2023.02.14, 17:34
 */

.container {
  flex: 1;
  flex-direction: column;
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
}

.contentError {
  color: $errorColor;
  text-align: center;
}

.contentContainer {
  max-width: 100%;
  overflow-x: auto;
}

.smallLoader,
.loaderSplash {
  /*!KEEP*/
}
