/** @module RecordsTableBlock.module.scss
 *  @since 2023.02.17, 05:07
 *  @changed 2023.02.17, 05:07
 */

$sectionsMargin: 10px;

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  > * {
    margin: $sectionsMargin auto;
  }
}
