$sectionsMargin: 10px;

.container,
.Empty,
.WaitingMulti,
.WaitingSingle,
.WaitingFailed,
.WasCancelled,
.GameReady,
.WaitingStart,
.DEBUG {
  /*!KEEP*/
}

.Empty {
  opacity: 0.15;
}

.error {
  color: $errorColor;
}

.actions {
  margin: $sectionsMargin auto;
  margin-top: 30px;
}

.image {
  padding: 20px;
}

.waitingForPartnerIcon {
  $size: 320px;
  width: $size;
  height: $size;
  overflow: hidden;
  margin: 30px auto;
  border-radius: 50%;
  background-color: #fff;
  > img {
    margin-right: 10px;
  }
}
